.chat-app {
    & .title-chat {
        margin-bottom: 5px;
    }

    & .content {
        // & main {
        //     max-height: 250px;
        //     overflow: overlay;
        // }
        
        & .main-chat {
            max-height: 150px;
            width: 100%;
            overflow: overlay;
            text-align: start;
            padding: rem(5px) 0;
            margin-bottom: 10px;
            & .msg:nth-child(odd) {
                background-color: gainsboro;
            }
        }

        & form {
            &>* {
                margin-bottom: 10px;
            }
        }
    }

}