@import '../../assets/scss/setup/variables';

.recipe-filter {
    margin-bottom: 10px;

    // & input {
    //     width: 200px;
    //     text-align: center;
    //     padding: 5px;
    //     background:$clr3;
    //     border: unset;
    //     border-radius: 5px;
    //     &:focus {
    //         outline: 0;
    //     }
    // }
    & form {
        align-items: center;
        position: relative;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 32px;
        color: rgb(34, 34, 34);
        height: 66px;
        min-width: 250px;

        // @include for-tablet-layout {
        //     min-width: 250px;
        // }

        margin: 5px 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px,
        rgba(0, 0, 0, 0.1) 0px 3px 8px;
        --big-search-form-background: #FFFFFF;
        background-color: rgb(255, 255, 255);

        & input {
            font-size: 20px;
            border-radius: 32px;
            color: rgb(34, 34, 34);
            height: 66px;
            width: 100%;
            background-color: rgb(255, 255, 255);
            margin: 0 65px 0 10px;
            border: none;
        }

        & img {
            position: absolute;
            right: 0;
            margin: 15px;
            border-radius: 50px;
            height: 47px;
            width: 47px;
            border: 1px solid #dddddd;
            background-color: rgb(255, 255, 255);
            object-fit: scale-down;
            &:hover {
                cursor: pointer;
                transition: 0.5s;
                background-color:$clr2;
            }
        }
    }
}